--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: appointment; Type: TABLE; Schema: public; Owner: backend
--

CREATE TABLE public.appointment (
    id bigint NOT NULL,
    appointment_date date NOT NULL,
    appointment_time time without time zone NOT NULL,
    status character varying(255),
    reason character varying(255),
    notes character varying(255),
    price bigint,
    user_id bigint NOT NULL,
    doctor_id bigint NOT NULL,
    hospital_id bigint NOT NULL,
    payment_status character varying(20) DEFAULT 'UNPAID'::character varying,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    consultation_type character varying(50),
    symptoms text
);


ALTER TABLE public.appointment OWNER TO backend;

--
-- Name: databasechangelog; Type: TABLE; Schema: public; Owner: backend
--

CREATE TABLE public.databasechangelog (
    id character varying(255) NOT NULL,
    author character varying(255) NOT NULL,
    filename character varying(255) NOT NULL,
    dateexecuted timestamp without time zone NOT NULL,
    orderexecuted integer NOT NULL,
    exectype character varying(10) NOT NULL,
    md5sum character varying(35),
    description character varying(255),
    comments character varying(255),
    tag character varying(255),
    liquibase character varying(20),
    contexts character varying(255),
    labels character varying(255),
    deployment_id character varying(10)
);


ALTER TABLE public.databasechangelog OWNER TO backend;

--
-- Name: databasechangeloglock; Type: TABLE; Schema: public; Owner: backend
--

CREATE TABLE public.databasechangeloglock (
    id integer NOT NULL,
    locked boolean NOT NULL,
    lockgranted timestamp without time zone,
    lockedby character varying(255)
);


ALTER TABLE public.databasechangeloglock OWNER TO backend;

--
-- Name: doctor; Type: TABLE; Schema: public; Owner: backend
--

CREATE TABLE public.doctor (
    id bigint NOT NULL,
    full_name character varying(255) NOT NULL,
    email character varying(255),
    phone_number character varying(20),
    bio text,
    avatar character varying(255),
    experience integer,
    license character varying(255),
    price bigint,
    rating numeric(21,2),
    review_count integer,
    specialty_id bigint NOT NULL,
    hospital_id bigint NOT NULL
);


ALTER TABLE public.doctor OWNER TO backend;

--
-- Name: hospital; Type: TABLE; Schema: public; Owner: backend
--

CREATE TABLE public.hospital (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    address character varying(255),
    phone character varying(255),
    email character varying(255),
    avatar character varying(255),
    rating numeric(21,2),
    review_count integer,
    description character varying(255)
);


ALTER TABLE public.hospital OWNER TO backend;

--
-- Name: jhi_authority; Type: TABLE; Schema: public; Owner: backend
--

CREATE TABLE public.jhi_authority (
    name character varying(50) NOT NULL
);


ALTER TABLE public.jhi_authority OWNER TO backend;

--
-- Name: jhi_user; Type: TABLE; Schema: public; Owner: backend
--

CREATE TABLE public.jhi_user (
    id bigint NOT NULL,
    login character varying(50) NOT NULL,
    password_hash character varying(60) NOT NULL,
    first_name character varying(50),
    last_name character varying(50),
    email character varying(191),
    image_url character varying(256),
    activated boolean NOT NULL,
    lang_key character varying(10),
    activation_key character varying(20),
    reset_key character varying(20),
    created_by character varying(50) NOT NULL,
    created_date timestamp without time zone,
    reset_date timestamp without time zone,
    last_modified_by character varying(50),
    last_modified_date timestamp without time zone,
    phone_number character varying(20),
    date_of_birth date,
    gender character varying(10),
    address character varying(500),
    health_insurance character varying(100)
);


ALTER TABLE public.jhi_user OWNER TO backend;

--
-- Name: jhi_user_authority; Type: TABLE; Schema: public; Owner: backend
--

CREATE TABLE public.jhi_user_authority (
    user_id bigint NOT NULL,
    authority_name character varying(50) NOT NULL
);


ALTER TABLE public.jhi_user_authority OWNER TO backend;

--
-- Name: medical_record; Type: TABLE; Schema: public; Owner: backend
--

CREATE TABLE public.medical_record (
    id bigint NOT NULL,
    diagnosis text,
    treatment text,
    notes text,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    user_id bigint NOT NULL,
    appointment_id bigint,
    doctor_id bigint
);


ALTER TABLE public.medical_record OWNER TO backend;

--
-- Name: payment; Type: TABLE; Schema: public; Owner: backend
--

CREATE TABLE public.payment (
    id bigint NOT NULL,
    appointment_id bigint NOT NULL,
    user_id bigint NOT NULL,
    amount bigint NOT NULL,
    payment_method character varying(50),
    status character varying(20),
    transaction_id character varying(100),
    created_at timestamp without time zone
);


ALTER TABLE public.payment OWNER TO backend;

--
-- Name: review; Type: TABLE; Schema: public; Owner: backend
--

CREATE TABLE public.review (
    id bigint NOT NULL,
    rating integer NOT NULL,
    comment character varying(255),
    created_at timestamp without time zone,
    user_id bigint NOT NULL,
    doctor_id bigint NOT NULL,
    updated_at timestamp without time zone
);


ALTER TABLE public.review OWNER TO backend;

--
-- Name: schedule; Type: TABLE; Schema: public; Owner: backend
--

CREATE TABLE public.schedule (
    id bigint NOT NULL,
    doctor_id bigint NOT NULL,
    work_date date NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    CONSTRAINT chk_schedule_time CHECK ((end_time > start_time))
);


ALTER TABLE public.schedule OWNER TO backend;

--
-- Name: schedule_id_seq; Type: SEQUENCE; Schema: public; Owner: backend
--

CREATE SEQUENCE public.schedule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.schedule_id_seq OWNER TO backend;

--
-- Name: schedule_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: backend
--

ALTER SEQUENCE public.schedule_id_seq OWNED BY public.schedule.id;


--
-- Name: sequence_generator; Type: SEQUENCE; Schema: public; Owner: backend
--

CREATE SEQUENCE public.sequence_generator
    START WITH 1050
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sequence_generator OWNER TO backend;

--
-- Name: specialty; Type: TABLE; Schema: public; Owner: backend
--

CREATE TABLE public.specialty (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    vietnam_name character varying(255),
    icon character varying(255),
    description character varying(255)
);


ALTER TABLE public.specialty OWNER TO backend;

--
-- Name: time_slot; Type: TABLE; Schema: public; Owner: backend
--

CREATE TABLE public.time_slot (
    id bigint NOT NULL,
    schedule_id bigint NOT NULL,
    slot_time time without time zone NOT NULL,
    is_booked boolean DEFAULT false
);


ALTER TABLE public.time_slot OWNER TO backend;

--
-- Name: time_slot_id_seq; Type: SEQUENCE; Schema: public; Owner: backend
--

CREATE SEQUENCE public.time_slot_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.time_slot_id_seq OWNER TO backend;

--
-- Name: time_slot_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: backend
--

ALTER SEQUENCE public.time_slot_id_seq OWNED BY public.time_slot.id;


--
-- Name: schedule id; Type: DEFAULT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.schedule ALTER COLUMN id SET DEFAULT nextval('public.schedule_id_seq'::regclass);


--
-- Name: time_slot id; Type: DEFAULT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.time_slot ALTER COLUMN id SET DEFAULT nextval('public.time_slot_id_seq'::regclass);


--
-- Data for Name: appointment; Type: TABLE DATA; Schema: public; Owner: backend
--



--
-- Data for Name: databasechangelog; Type: TABLE DATA; Schema: public; Owner: backend
--



--
-- Data for Name: databasechangeloglock; Type: TABLE DATA; Schema: public; Owner: backend
--

COPY public.databasechangeloglock (id, locked, lockgranted, lockedby) FROM stdin;
1	f	\N	\N
\.


--
-- Data for Name: doctor; Type: TABLE DATA; Schema: public; Owner: backend
--



--
-- Data for Name: hospital; Type: TABLE DATA; Schema: public; Owner: backend
--



--
-- Data for Name: jhi_authority; Type: TABLE DATA; Schema: public; Owner: backend
--

COPY public.jhi_authority (name) FROM stdin;
ROLE_ADMIN
ROLE_USER
ROLE_DOCTOR
\.


--
-- Data for Name: jhi_user; Type: TABLE DATA; Schema: public; Owner: backend
--



--
-- Data for Name: jhi_user_authority; Type: TABLE DATA; Schema: public; Owner: backend
--

COPY public.jhi_user_authority (user_id, authority_name) FROM stdin;
1	ROLE_ADMIN
1	ROLE_USER
2	ROLE_USER
1001	ROLE_USER
3	ROLE_USER
4	ROLE_USER
5	ROLE_DOCTOR
5	ROLE_USER
6	ROLE_USER
100	ROLE_ADMIN
101	ROLE_USER
1101	ROLE_USER
1103	ROLE_USER
999	ROLE_ADMIN
999	ROLE_USER
1301	ROLE_USER
2951	ROLE_USER
\.


--
-- Data for Name: medical_record; Type: TABLE DATA; Schema: public; Owner: backend
--



--
-- Data for Name: payment; Type: TABLE DATA; Schema: public; Owner: backend
--



--
-- Data for Name: review; Type: TABLE DATA; Schema: public; Owner: backend
--

COPY public.review (id, rating, comment, created_at, user_id, doctor_id, updated_at) FROM stdin;
1	5	Doctor is very dedicated, explains clearly and is easy to understand.	2026-05-02 10:00:00	3	1	2026-05-02 10:00:00
2	4	Quick examination, good attitude, clean clinic.	2026-05-02 11:00:00	4	2	2026-05-02 11:00:00
3	5	Pediatric doctor is very friendly with children.	2026-05-02 12:00:00	6	3	2026-05-02 12:00:00
4	4	Clear consultation, reasonable prescription.	2026-05-02 13:00:00	2	4	2026-05-02 13:00:00
5	5	Good service, will return when needed.	2026-05-02 14:00:00	3	5	2026-05-02 14:00:00
\.


--
-- Data for Name: schedule; Type: TABLE DATA; Schema: public; Owner: backend
--

COPY public.schedule (id, doctor_id, work_date, start_time, end_time) FROM stdin;
1	1	2026-05-04	08:00:00	17:00:00
\.


--
-- Data for Name: specialty; Type: TABLE DATA; Schema: public; Owner: backend
--

COPY public.specialty (id, name, vietnam_name, icon, description) FROM stdin;
1	Cardiology	Cardiology	heart-pulse	Specialized in diagnosis and treatment of cardiovascular diseases
2	Dermatology	Dermatology	face-smile	Specialized in treatment of skin conditions
3	Pediatrics	Pediatrics	baby	Healthcare for children
4	Orthopedics	Orthopedics	bone	Treatment of bones, joints and injuries
5	Internal Medicine	Internal Medicine	stethoscope	Diagnosis and treatment of internal medical conditions\n
\.


--
-- Data for Name: time_slot; Type: TABLE DATA; Schema: public; Owner: backend
--

COPY public.time_slot (id, schedule_id, slot_time, is_booked) FROM stdin;
1	1	08:00:00	f
2	1	09:00:00	f
3	1	10:00:00	f
4	1	14:00:00	f
5	1	15:00:00	f
\.


--
-- Name: schedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: backend
--

SELECT pg_catalog.setval('public.schedule_id_seq', 1, true);


--
-- Name: sequence_generator; Type: SEQUENCE SET; Schema: public; Owner: backend
--

SELECT pg_catalog.setval('public.sequence_generator', 3800, true);


--
-- Name: time_slot_id_seq; Type: SEQUENCE SET; Schema: public; Owner: backend
--

SELECT pg_catalog.setval('public.time_slot_id_seq', 5, true);


--
-- Name: appointment appointment_pkey; Type: CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT appointment_pkey PRIMARY KEY (id);


--
-- Name: databasechangeloglock databasechangeloglock_pkey; Type: CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.databasechangeloglock
    ADD CONSTRAINT databasechangeloglock_pkey PRIMARY KEY (id);


--
-- Name: doctor doctor_pkey; Type: CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.doctor
    ADD CONSTRAINT doctor_pkey PRIMARY KEY (id);


--
-- Name: hospital hospital_pkey; Type: CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.hospital
    ADD CONSTRAINT hospital_pkey PRIMARY KEY (id);


--
-- Name: jhi_authority jhi_authority_pkey; Type: CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.jhi_authority
    ADD CONSTRAINT jhi_authority_pkey PRIMARY KEY (name);


--
-- Name: jhi_user_authority jhi_user_authority_pkey; Type: CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.jhi_user_authority
    ADD CONSTRAINT jhi_user_authority_pkey PRIMARY KEY (user_id, authority_name);


--
-- Name: jhi_user jhi_user_pkey; Type: CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.jhi_user
    ADD CONSTRAINT jhi_user_pkey PRIMARY KEY (id);


--
-- Name: medical_record medical_record_pkey; Type: CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.medical_record
    ADD CONSTRAINT medical_record_pkey PRIMARY KEY (id);


--
-- Name: payment payment_pkey; Type: CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT payment_pkey PRIMARY KEY (id);


--
-- Name: review review_pkey; Type: CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT review_pkey PRIMARY KEY (id);


--
-- Name: schedule schedule_pkey; Type: CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.schedule
    ADD CONSTRAINT schedule_pkey PRIMARY KEY (id);


--
-- Name: specialty specialty_pkey; Type: CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.specialty
    ADD CONSTRAINT specialty_pkey PRIMARY KEY (id);


--
-- Name: time_slot time_slot_pkey; Type: CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.time_slot
    ADD CONSTRAINT time_slot_pkey PRIMARY KEY (id);


--
-- Name: schedule ux_schedule_doctor_date; Type: CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.schedule
    ADD CONSTRAINT ux_schedule_doctor_date UNIQUE (doctor_id, work_date);


--
-- Name: time_slot ux_schedule_slot_time; Type: CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.time_slot
    ADD CONSTRAINT ux_schedule_slot_time UNIQUE (schedule_id, slot_time);


--
-- Name: jhi_user ux_user_email; Type: CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.jhi_user
    ADD CONSTRAINT ux_user_email UNIQUE (email);


--
-- Name: jhi_user ux_user_login; Type: CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.jhi_user
    ADD CONSTRAINT ux_user_login UNIQUE (login);


--
-- Name: idx_schedule_doctor_date; Type: INDEX; Schema: public; Owner: backend
--

CREATE INDEX idx_schedule_doctor_date ON public.schedule USING btree (doctor_id, work_date);


--
-- Name: idx_time_slot_schedule; Type: INDEX; Schema: public; Owner: backend
--

CREATE INDEX idx_time_slot_schedule ON public.time_slot USING btree (schedule_id);


--
-- Name: appointment fk_appointment_doctor_id; Type: FK CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT fk_appointment_doctor_id FOREIGN KEY (doctor_id) REFERENCES public.doctor(id);


--
-- Name: appointment fk_appointment_hospital_id; Type: FK CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT fk_appointment_hospital_id FOREIGN KEY (hospital_id) REFERENCES public.hospital(id);


--
-- Name: appointment fk_appointment_user_id; Type: FK CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.appointment
    ADD CONSTRAINT fk_appointment_user_id FOREIGN KEY (user_id) REFERENCES public.jhi_user(id);


--
-- Name: jhi_user_authority fk_authority_name; Type: FK CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.jhi_user_authority
    ADD CONSTRAINT fk_authority_name FOREIGN KEY (authority_name) REFERENCES public.jhi_authority(name);


--
-- Name: doctor fk_doctor_hospital_id; Type: FK CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.doctor
    ADD CONSTRAINT fk_doctor_hospital_id FOREIGN KEY (hospital_id) REFERENCES public.hospital(id);


--
-- Name: doctor fk_doctor_specialty_id; Type: FK CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.doctor
    ADD CONSTRAINT fk_doctor_specialty_id FOREIGN KEY (specialty_id) REFERENCES public.specialty(id);


--
-- Name: medical_record fk_medical_record_appointment_id; Type: FK CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.medical_record
    ADD CONSTRAINT fk_medical_record_appointment_id FOREIGN KEY (appointment_id) REFERENCES public.appointment(id);


--
-- Name: medical_record fk_medical_record_doctor_id; Type: FK CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.medical_record
    ADD CONSTRAINT fk_medical_record_doctor_id FOREIGN KEY (doctor_id) REFERENCES public.doctor(id);


--
-- Name: medical_record fk_medical_record_user_id; Type: FK CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.medical_record
    ADD CONSTRAINT fk_medical_record_user_id FOREIGN KEY (user_id) REFERENCES public.jhi_user(id);


--
-- Name: payment fk_payment_appointment_id; Type: FK CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT fk_payment_appointment_id FOREIGN KEY (appointment_id) REFERENCES public.appointment(id);


--
-- Name: payment fk_payment_user_id; Type: FK CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT fk_payment_user_id FOREIGN KEY (user_id) REFERENCES public.jhi_user(id);


--
-- Name: review fk_review_doctor_id; Type: FK CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT fk_review_doctor_id FOREIGN KEY (doctor_id) REFERENCES public.doctor(id);


--
-- Name: review fk_review_user_id; Type: FK CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT fk_review_user_id FOREIGN KEY (user_id) REFERENCES public.jhi_user(id);


--
-- Name: schedule fk_schedule_doctor; Type: FK CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.schedule
    ADD CONSTRAINT fk_schedule_doctor FOREIGN KEY (doctor_id) REFERENCES public.doctor(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: time_slot fk_time_slot_schedule; Type: FK CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.time_slot
    ADD CONSTRAINT fk_time_slot_schedule FOREIGN KEY (schedule_id) REFERENCES public.schedule(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: jhi_user_authority fk_user_id; Type: FK CONSTRAINT; Schema: public; Owner: backend
--

ALTER TABLE ONLY public.jhi_user_authority
    ADD CONSTRAINT fk_user_id FOREIGN KEY (user_id) REFERENCES public.jhi_user(id);


--
-- PostgreSQL database dump complete
--

